<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue -- 表單的文字輸入框</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>    
    <!-- <script src="./js/vue.js"></script> -->    
</head>
<body>
    <div id="app"> <!--HTML DOM template-->
        <!-- <input type="text" v-model="message"> -->
        <input type="text" :value="message" @input="setMessage">
        <p>{{message}}</p>
        <hr>

        <textarea cols="22" rows="5" v-model="message"></textarea>
        <p style="white-space: pre;">{{message}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',     
            data: {         // 變數存放的地方
                message: '',
            },
            methods: {      // 函數放這裡
                setMessage(e){
                    this.message = e.target.value;
                },
            }, 
            computed: {
                
            },           
        });
    </script>
</body>
</html>
<!--
    what did you 
 use your computer
  for?
-->