#skin{
    width: 700px;
    border: 3px dashed steelblue;
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
    padding: 15px 0px;
}
nav{
    /* border: 1px solid red; */
    margin-top: 10px;
}
button{
    text-transform: capitalize;
    width: 125px;
}
#buttons{
    /* border: 1px solid red; */
}
#defaultBar{
    border: 1px solid #aaa;
    width: 640px;
    height: 16px;
    padding: 2px;

    position: relative;
    left: 28px;
    margin-top: 10px;
}
#progress{
    width: 0px;
    height: 16px;
    background: #aaa;
}