*{
    font: 18px Tahoma;
}
body{
    background: #aaa;
}
#theForm{
    background: #fff;
    width: 270px;
    padding: 10px;
    border: 1px solid #bbb;
    margin: 50px;
}
#theForm div{
    margin: 8px 0px;
}
label,input[type="submit"]{
    text-transform: capitalize;
}
#result{
    border: 1px solid maroon;
    width: 225px;
    height: 50px;
    font-size: 24px;
    color: maroon;
    text-align: center;
    line-height: 50px;
}
